package api1

import (
	"context"
	"fmt"
	"net/http"
	"os"
	"os/signal"
	"syscall"

	"github.com/aryanugroho/[appName]/config"
	"github.com/aryanugroho/[appName]/internal/usecase"
	"github.com/aryanugroho/[appName]/pkg/httpapi/middleware"
	"github.com/aryanugroho/[appName]/pkg/logger"
	"github.com/aryanugroho/[appName]/pkg/openapi"

	"github.com/gorilla/mux"
)

type Routes struct {
	Root    *mux.Router // ''
	ApiRoot *mux.Router // '/v1'

	*mux.Router // '/v1/'
}

type API struct {
	usecase    *usecase.App
	BaseRoutes *Routes

	docs openapi.OpenAPIV3
}

func Init(ctx context.Context, srv *usecase.App) (*API, error) {
	conf := config.All()

	apiv1 := API{
		usecase: srv,
		BaseRoutes: &Routes{
			Root: mux.NewRouter(),
		},
	}
	apiv1.BaseRoutes.Root.Use(middleware.CorrelationLoggingMiddleware)
	apiv1.BaseRoutes.Root.Use(middleware.AuthAPI)
	apiv1.BaseRoutes.Root.Use(middleware.APM)

	apiv1.BaseRoutes.Root = apiv1.BaseRoutes.Root.PathPrefix(fmt.Sprintf("/%s", conf.App.ApiPrefix)).Subrouter()
	apiv1.BaseRoutes.ApiRoot = apiv1.BaseRoutes.Root.PathPrefix("/v1").Subrouter()

	// init openapi docs
	apiv1.docs = openapi.NewOpenApiV3("Title", "v1", "Desc")

	// init routes
	apiv1.InitAPI()

	// /%s/api/openapi.json
	apiv1.BaseRoutes.ApiRoot.HandleFunc("/openapi.json", apiv1.docs.Build)
	openApiPath := fmt.Sprintf("/%s/v1/openapi.json", conf.App.ApiPrefix)
	apiv1.BaseRoutes.ApiRoot.HandleFunc("/docs", apiv1.docs.ServeDocs(openApiPath).ServeHTTP)

	server := http.Server{
		Handler: apiv1.BaseRoutes.Root,
		Addr:    fmt.Sprintf(":%d", conf.Server.Port),
	}

	server.ListenAndServe()

	logger.Info(ctx, "server started on port "+fmt.Sprintf("%d", conf.Server.Port))

	done := make(chan os.Signal, 1)
	signal.Notify(done, os.Interrupt, syscall.SIGINT, syscall.SIGTERM)

	<-done
	logger.Info(ctx, "shutting down")
	server.Shutdown(ctx)
	logger.Info(ctx, "all server stopped!")

	return &apiv1, nil
}

func callOnInterrupt(cancel context.CancelFunc) {
	sigCh := make(chan os.Signal, 1)
	signal.Notify(sigCh, syscall.SIGTERM, syscall.SIGINT)
	<-sigCh
	cancel()
}
