package api1

import (
	"net/http"

	"github.com/aryanugroho/[appName]/internal/usecase"
	"github.com/aryanugroho/[appName]/pkg/helpers/errors"
	"github.com/aryanugroho/[appName]/pkg/helpers/validation"
	"github.com/aryanugroho/[appName]/pkg/httpapi/server"
)

func (api *API) InitAPI() {
	api.BaseRoutes.ApiRoot = api.BaseRoutes.ApiRoot.PathPrefix("/").Subrouter()

	api.BaseRoutes.ApiRoot.Handle("/", http.HandlerFunc(api.create)).Methods("POST")
	api.docs.AddOperation(usecase.Payload{}, usecase.Payload{}, "/api/v1/create", http.MethodPut, "Create something")
}

func (api *API) create(w http.ResponseWriter, r *http.Request) {
	dto := usecase.Payload{}
	err := server.ReadJSON(r, &dto)
	if err != nil {
		server.WriteResponseError(w, r, errors.BadRequest.New(err.Error()))
		return
	}

	err = validation.Validate.Struct(dto)
	if err != nil {
		server.WriteResponseError(w, r, errors.BadRequest.New(err.Error()))
		return
	}

	result, err := api.usecase.Create(r.Context(), &dto)
	if err != nil {
		server.WriteResponseError(w, r, err)
		return
	}

	server.WriteJSON(w, r, http.StatusOK, result)
}
