package main

import (
	"context"
	"os"

	"[base_project]/pkg/config"
	"[base_project]/pkg/logger"
	"[base_project]/pkg/statsd"
	"[base_project]/internal/presenter/console"

	"gopkg.in/ukautz/clif.v1"
)

func main() {
	ctx := context.Background()
	_ = config.Load("./config.yaml")
	logger.Init()
	statsd.Init()

	// No need to run CLI if there is no argument
	if len(os.Args) == 1 {
		return
	}

	cli := clif.New("[appName]", "1.0.0", "")
	cmd, err := console.Init()
	if err != nil {
		logger.Fatal(ctx, "failed init console", err)
	}
	cli.Add(cmd.StartServer())
	cli.Add(cmd.MigrateCreate())
	cli.Add(cmd.MigrateRun(ctx))
	cli.Add(cmd.MigrateRollback())

	cli.Run()
}
