version: "3.7"
networks:
  net-dev:
    driver: bridge
services:
  mysql:
    container_name: mysql
    image: arm64v8/mysql:oracle
    command: --authentication-policy=CACHING_SHA2_PASSWORD
    environment:
      - MYSQL_ROOT_PASSWORD=[db_pass]
      - MYSQL_DATABASE=[db_name]
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "[db_port]:3306"
    networks:
      - net-dev
volumes:
  mysql-data: