package usecase

import (
	"context"
	"errors"

	"github.com/aryanugroho/[appName]/internal/model"
)

type Payload struct {
	UUID    string `json:"uuid"`
}

type [Entity] struct {
	ID      string `json:"id"`
	UUID    string `json:"uuid"`
	model.AuditableEntity
}


func (u *[Entity]) Create(ctx context.Context, payload *Payload) (*[Entity], error) {
	ctx = u.Infrastructure.SQLStore().BeginTx(ctx)
	defer u.Infrastructure.SQLStore().RollbackTx(ctx)

	[entity], err := u.Infrastructure.SQLStore().Store().Create(ctx, &model.{
		UUID:    payload.UUID,
	})
	if err != nil {
		return nil, errors.New("failed to create post")
	}

	err = u.Infrastructure.SQLStore().CommitTx(ctx)
	if err != nil {
		return nil, errors.New("failed to create post")
	}

	return &{
		ID:              [entity].ID,
		UUID:            [entity].UUID,
		AuditableEntity: [entity].AuditableEntity,
	}, nil
}
